@model ApplicationMVC.Models.EntityFramework.Monthly
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Index.css" rel="stylesheet" />

<a href="@Url.Action("ChangeLanguage","List", new { language = "en" })">English</a>&nbsp;
<a href="@Url.Action("ChangeLanguage","List", new { language = "tr" })">Türkçe</a>

<h2>@Resources.Resources.Transactions</h2>

@using (Html.BeginForm("Add", "List", FormMethod.Post))
{
	<div>
		@Html.ValidationMessageFor(m => m.item)
	</div>
	<div style="margin-bottom:2%">
		@Html.ValidationMessageFor(m => m.money)
	</div>
	<div class="form-group">
		@Html.TextBoxFor(m => m.item)
		@Html.TextBoxFor(m => m.money)
	</div>
	@Html.HiddenFor(m => m.id)
	<button type="submit" class="btn btn-success">@Resources.Resources.Add</button>
}


<div>
	<table class="table" id="tableList">
		<thead>
			<tr>
				<th scope="col">@Resources.Resources.Item</th>
				<th scope="col">@Resources.Resources.Money</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var monthly in ViewBag.List)
			{
				<tr>
					<td>@monthly.item</td>
					<td>$@monthly.money</td>
					<td><a class=" btn btn-primary" href="/List/Update/@monthly.id">@Resources.Resources.Edit</a></td>
					<td><a class="btn btn-danger btnDelete" href="/List/Delete/@monthly.id">@Resources.Resources.Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
